In [1]:
import pandas as pd 
  
    
print("DayNumber Quarter Number")

# Creating the Series 
sr = pd.Series(['2012-10-21 09:30', '2019-7-18 12:30', '2008-02-2 10:30', 
                '2010-4-22 09:25', '2019-11-8 02:22']) 
  
# Creating the index 
idx = ['Day 1        ', 'Day 2        ', 'Day 3        ', 'Day 4        ', 'Day 5        '] 
  
# set the index 
sr.index = idx 
  
# Convert the underlying data to datetime  
sr = pd.to_datetime(sr) 
  
# Print the series 
# print(sr) 


result = sr.dt.quarter 
  
# print the result 
print(result)

DayNumber Quarter Number
Day 1            4
Day 2            3
Day 3            1
Day 4            2
Day 5            4
dtype: int64

In [1]:
import pandas as pd
import numpy as np
import datetime
import datetime as dt
from numpy import int64

In [2]:

df=pd.read_csv(r"E:\timepractice.csv",encoding="utf8")

In [3]:
pwd

'C:\\Users\\NAMAN AGRAWAL'

In [4]:
df['year'] = pd.DatetimeIndex(df['Agreed Date']).year
df.head()

   Qty RRS      Model Agreed Date  S.Ord.  Agreed Week    year
0  1.0   C    MCH-630   4/30/2020  9320.0         18.0  2020.0
1  1.0   C  MCH-500-L  10/10/2019  8894.0         41.0  2019.0
2  1.0   B  GEMINI-XL   1/15/2020  9134.0          3.0  2020.0
3  1.0   B  GEMINI-XL   2/29/2020  9301.0          9.0  2020.0
4  1.0   B  GEMINI-XL   2/15/2020  9353.0          7.0  2020.0

In [5]:
df['month'] = pd.DatetimeIndex(df['Agreed Date']).month
df.head()

   Qty RRS      Model Agreed Date  S.Ord.  Agreed Week    year  month
0  1.0   C    MCH-630   4/30/2020  9320.0         18.0  2020.0    4.0
1  1.0   C  MCH-500-L  10/10/2019  8894.0         41.0  2019.0   10.0
2  1.0   B  GEMINI-XL   1/15/2020  9134.0          3.0  2020.0    1.0
3  1.0   B  GEMINI-XL   2/29/2020  9301.0          9.0  2020.0    2.0
4  1.0   B  GEMINI-XL   2/15/2020  9353.0          7.0  2020.0    2.0

In [6]:
df['month_year'] = pd.to_datetime(df['Agreed Date']).dt.to_period('M')
df.head()

,Qty,RRS,Model,Agreed Date,S.Ord.,Agreed Week,year,month,month_year
0,1.0,C,MCH-630,4/30/2020,9320.0,18.0,2020.0,4.0,2020-04
1,1.0,C,MCH-500-L,10/10/2019,8894.0,41.0,2019.0,10.0,2019-10
2,1.0,B,GEMINI-XL,1/15/2020,9134.0,3.0,2020.0,1.0,2020-01
3,1.0,B,GEMINI-XL,2/29/2020,9301.0,9.0,2020.0,2.0,2020-02
4,1.0,B,GEMINI-XL,2/15/2020,9353.0,7.0,2020.0,2.0,2020-02

In [7]:
df['dob'] = pd.to_datetime(df['Agreed Date'], format='%m/%d/%Y')

In [8]:
df.head()

,Qty,RRS,Model,Agreed Date,S.Ord.,Agreed Week,year,month,month_year,dob
0,1.0,C,MCH-630,4/30/2020,9320.0,18.0,2020.0,4.0,2020-04,2020-04-30
1,1.0,C,MCH-500-L,10/10/2019,8894.0,41.0,2019.0,10.0,2019-10,2019-10-10
2,1.0,B,GEMINI-XL,1/15/2020,9134.0,3.0,2020.0,1.0,2020-01,2020-01-15
3,1.0,B,GEMINI-XL,2/29/2020,9301.0,9.0,2020.0,2.0,2020-02,2020-02-29
4,1.0,B,GEMINI-XL,2/15/2020,9353.0,7.0,2020.0,2.0,2020-02,2020-02-15

In [9]:
df['Quarter'] = np.int64((pd.DatetimeIndex(df['Agreed Date']).month)/3)+1

In [10]:
df.head()

,Qty,RRS,Model,Agreed Date,S.Ord.,Agreed Week,year,month,month_year,dob,Quarter
0,1.0,C,MCH-630,4/30/2020,9320.0,18.0,2020.0,4.0,2020-04,2020-04-30,2
1,1.0,C,MCH-500-L,10/10/2019,8894.0,41.0,2019.0,10.0,2019-10,2019-10-10,4
2,1.0,B,GEMINI-XL,1/15/2020,9134.0,3.0,2020.0,1.0,2020-01,2020-01-15,1
3,1.0,B,GEMINI-XL,2/29/2020,9301.0,9.0,2020.0,2.0,2020-02,2020-02-29,1
4,1.0,B,GEMINI-XL,2/15/2020,9353.0,7.0,2020.0,2.0,2020-02,2020-02-15,1

In [11]:
df['Week Number'] = pd.to_datetime(df['Agreed Date']).dt.week
df.head()

,Qty,RRS,Model,Agreed Date,S.Ord.,Agreed Week,year,month,month_year,dob,Quarter,Week Number
0,1.0,C,MCH-630,4/30/2020,9320.0,18.0,2020.0,4.0,2020-04,2020-04-30,2,18.0
1,1.0,C,MCH-500-L,10/10/2019,8894.0,41.0,2019.0,10.0,2019-10,2019-10-10,4,41.0
2,1.0,B,GEMINI-XL,1/15/2020,9134.0,3.0,2020.0,1.0,2020-01,2020-01-15,1,3.0
3,1.0,B,GEMINI-XL,2/29/2020,9301.0,9.0,2020.0,2.0,2020-02,2020-02-29,1,9.0
4,1.0,B,GEMINI-XL,2/15/2020,9353.0,7.0,2020.0,2.0,2020-02,2020-02-15,1,7.0

In [12]:
df['Current Date'] = dt.date.today()

In [13]:
df.head()

,Qty,RRS,Model,Agreed Date,S.Ord.,Agreed Week,year,month,month_year,dob,Quarter,Week Number,Current Date
0,1.0,C,MCH-630,4/30/2020,9320.0,18.0,2020.0,4.0,2020-04,2020-04-30,2,18.0,2020-03-09
1,1.0,C,MCH-500-L,10/10/2019,8894.0,41.0,2019.0,10.0,2019-10,2019-10-10,4,41.0,2020-03-09
2,1.0,B,GEMINI-XL,1/15/2020,9134.0,3.0,2020.0,1.0,2020-01,2020-01-15,1,3.0,2020-03-09
3,1.0,B,GEMINI-XL,2/29/2020,9301.0,9.0,2020.0,2.0,2020-02,2020-02-29,1,9.0,2020-03-09
4,1.0,B,GEMINI-XL,2/15/2020,9353.0,7.0,2020.0,2.0,2020-02,2020-02-15,1,7.0,2020-03-09

In [14]:
df['Current Month'] = pd.DatetimeIndex(df['Current Date']).month
df.head()

,Qty,RRS,Model,Agreed Date,S.Ord.,Agreed Week,year,month,month_year,dob,Quarter,Week Number,Current Date,Current Month
0,1.0,C,MCH-630,4/30/2020,9320.0,18.0,2020.0,4.0,2020-04,2020-04-30,2,18.0,2020-03-09,3
1,1.0,C,MCH-500-L,10/10/2019,8894.0,41.0,2019.0,10.0,2019-10,2019-10-10,4,41.0,2020-03-09,3
2,1.0,B,GEMINI-XL,1/15/2020,9134.0,3.0,2020.0,1.0,2020-01,2020-01-15,1,3.0,2020-03-09,3
3,1.0,B,GEMINI-XL,2/29/2020,9301.0,9.0,2020.0,2.0,2020-02,2020-02-29,1,9.0,2020-03-09,3
4,1.0,B,GEMINI-XL,2/15/2020,9353.0,7.0,2020.0,2.0,2020-02,2020-02-15,1,7.0,2020-03-09,3

In [15]:
df['Current Year'] = pd.DatetimeIndex(df['Current Date']).year
df.head()

,Qty,RRS,Model,Agreed Date,S.Ord.,Agreed Week,year,month,month_year,dob,Quarter,Week Number,Current Date,Current Month,Current Year
0,1.0,C,MCH-630,4/30/2020,9320.0,18.0,2020.0,4.0,2020-04,2020-04-30,2,18.0,2020-03-09,3,2020
1,1.0,C,MCH-500-L,10/10/2019,8894.0,41.0,2019.0,10.0,2019-10,2019-10-10,4,41.0,2020-03-09,3,2020
2,1.0,B,GEMINI-XL,1/15/2020,9134.0,3.0,2020.0,1.0,2020-01,2020-01-15,1,3.0,2020-03-09,3,2020
3,1.0,B,GEMINI-XL,2/29/2020,9301.0,9.0,2020.0,2.0,2020-02,2020-02-29,1,9.0,2020-03-09,3,2020
4,1.0,B,GEMINI-XL,2/15/2020,9353.0,7.0,2020.0,2.0,2020-02,2020-02-15,1,7.0,2020-03-09,3,2020

In [16]:
df['Current Week Number'] = pd.to_datetime(df['Current Date']).dt.week

df['Next Week Number'] = (pd.to_datetime(df['Current Date']).dt.week)+1

df.head()

,Qty,RRS,Model,Agreed Date,S.Ord.,Agreed Week,year,month,month_year,dob,Quarter,Week Number,Current Date,Current Month,Current Year,Current Week Number,Next Week Number
0,1.0,C,MCH-630,4/30/2020,9320.0,18.0,2020.0,4.0,2020-04,2020-04-30,2,18.0,2020-03-09,3,2020,11,12
1,1.0,C,MCH-500-L,10/10/2019,8894.0,41.0,2019.0,10.0,2019-10,2019-10-10,4,41.0,2020-03-09,3,2020,11,12
2,1.0,B,GEMINI-XL,1/15/2020,9134.0,3.0,2020.0,1.0,2020-01,2020-01-15,1,3.0,2020-03-09,3,2020,11,12
3,1.0,B,GEMINI-XL,2/29/2020,9301.0,9.0,2020.0,2.0,2020-02,2020-02-29,1,9.0,2020-03-09,3,2020,11,12
4,1.0,B,GEMINI-XL,2/15/2020,9353.0,7.0,2020.0,2.0,2020-02,2020-02-15,1,7.0,2020-03-09,3,2020,11,12

In [17]:
df.drop(["month_year" ], axis = 1, inplace = True)

In [18]:
df.head()

,Qty,RRS,Model,Agreed Date,S.Ord.,Agreed Week,year,month,dob,Quarter,Week Number,Current Date,Current Month,Current Year,Current Week Number,Next Week Number
0,1.0,C,MCH-630,4/30/2020,9320.0,18.0,2020.0,4.0,2020-04-30,2,18.0,2020-03-09,3,2020,11,12
1,1.0,C,MCH-500-L,10/10/2019,8894.0,41.0,2019.0,10.0,2019-10-10,4,41.0,2020-03-09,3,2020,11,12
2,1.0,B,GEMINI-XL,1/15/2020,9134.0,3.0,2020.0,1.0,2020-01-15,1,3.0,2020-03-09,3,2020,11,12
3,1.0,B,GEMINI-XL,2/29/2020,9301.0,9.0,2020.0,2.0,2020-02-29,1,9.0,2020-03-09,3,2020,11,12
4,1.0,B,GEMINI-XL,2/15/2020,9353.0,7.0,2020.0,2.0,2020-02-15,1,7.0,2020-03-09,3,2020,11,12

In [19]:
df['Current Quarter'] = np.int64((pd.DatetimeIndex(df['Current Date']).month)/3)

In [20]:
df.head()

,Qty,RRS,Model,Agreed Date,S.Ord.,Agreed Week,year,month,dob,Quarter,Week Number,Current Date,Current Month,Current Year,Current Week Number,Next Week Number,Current Quarter
0,1.0,C,MCH-630,4/30/2020,9320.0,18.0,2020.0,4.0,2020-04-30,2,18.0,2020-03-09,3,2020,11,12,1
1,1.0,C,MCH-500-L,10/10/2019,8894.0,41.0,2019.0,10.0,2019-10-10,4,41.0,2020-03-09,3,2020,11,12,1
2,1.0,B,GEMINI-XL,1/15/2020,9134.0,3.0,2020.0,1.0,2020-01-15,1,3.0,2020-03-09,3,2020,11,12,1
3,1.0,B,GEMINI-XL,2/29/2020,9301.0,9.0,2020.0,2.0,2020-02-29,1,9.0,2020-03-09,3,2020,11,12,1
4,1.0,B,GEMINI-XL,2/15/2020,9353.0,7.0,2020.0,2.0,2020-02-15,1,7.0,2020-03-09,3,2020,11,12,1

In [21]:
df['Quarter'] = np.int64((pd.DatetimeIndex(df['Agreed Date']).month)/3)+1

In [22]:
df.head()

,Qty,RRS,Model,Agreed Date,S.Ord.,Agreed Week,year,month,dob,Quarter,Week Number,Current Date,Current Month,Current Year,Current Week Number,Next Week Number,Current Quarter
0,1.0,C,MCH-630,4/30/2020,9320.0,18.0,2020.0,4.0,2020-04-30,2,18.0,2020-03-09,3,2020,11,12,1
1,1.0,C,MCH-500-L,10/10/2019,8894.0,41.0,2019.0,10.0,2019-10-10,4,41.0,2020-03-09,3,2020,11,12,1
2,1.0,B,GEMINI-XL,1/15/2020,9134.0,3.0,2020.0,1.0,2020-01-15,1,3.0,2020-03-09,3,2020,11,12,1
3,1.0,B,GEMINI-XL,2/29/2020,9301.0,9.0,2020.0,2.0,2020-02-29,1,9.0,2020-03-09,3,2020,11,12,1
4,1.0,B,GEMINI-XL,2/15/2020,9353.0,7.0,2020.0,2.0,2020-02-15,1,7.0,2020-03-09,3,2020,11,12,1

In [23]:
df.head()

,Qty,RRS,Model,Agreed Date,S.Ord.,Agreed Week,year,month,dob,Quarter,Week Number,Current Date,Current Month,Current Year,Current Week Number,Next Week Number,Current Quarter
0,1.0,C,MCH-630,4/30/2020,9320.0,18.0,2020.0,4.0,2020-04-30,2,18.0,2020-03-09,3,2020,11,12,1
1,1.0,C,MCH-500-L,10/10/2019,8894.0,41.0,2019.0,10.0,2019-10-10,4,41.0,2020-03-09,3,2020,11,12,1
2,1.0,B,GEMINI-XL,1/15/2020,9134.0,3.0,2020.0,1.0,2020-01-15,1,3.0,2020-03-09,3,2020,11,12,1
3,1.0,B,GEMINI-XL,2/29/2020,9301.0,9.0,2020.0,2.0,2020-02-29,1,9.0,2020-03-09,3,2020,11,12,1
4,1.0,B,GEMINI-XL,2/15/2020,9353.0,7.0,2020.0,2.0,2020-02-15,1,7.0,2020-03-09,3,2020,11,12,1

In [24]:
result = (df['Current Week Number'] == int64(df['Agreed Week']))
df=df.loc[result]
df['Pending Orders']=len(df['S.Ord.'])

In [25]:
df

,Qty,RRS,Model,Agreed Date,S.Ord.,Agreed Week,year,month,dob,Quarter,Week Number,Current Date,Current Month,Current Year,Current Week Number,Next Week Number,Current Quarter,Pending Orders
6,1.0,B,GEMINI-XL,3/10/2020,9474.0,11.0,2020.0,3.0,2020-03-10,2,11.0,2020-03-09,3,2020,11,12,1,14
24,1.0,A,MCV400,3/15/2020,9437.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14
29,1.0,A,MCV-400F,3/14/2020,9455.0,11.0,2020.0,3.0,2020-03-14,2,11.0,2020-03-09,3,2020,11,12,1,14
36,1.0,A,MCV400F,3/15/2020,9531.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14
38,1.0,A,SUPER-WINNER,3/15/2019,7962.0,11.0,2019.0,3.0,2019-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14
77,1.0,NaN,MCV450,3/12/2020,9097.0,11.0,2020.0,3.0,2020-03-12,2,11.0,2020-03-09,3,2020,11,12,1,14
128,1.0,NaN,M850V,3/14/2020,9470.0,11.0,2020.0,3.0,2020-03-14,2,11.0,2020-03-09,3,2020,11,12,1,14
188,1.0,NaN,ACER,3/15/2020,9511.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14
189,1.0,NaN,ACER,3/15/2020,9512.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14
206,1.0,NaN,M540V,3/15/2020,9478.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14
213,1.0,NaN,CMH-500-50,3/14/2020,9535.0,11.0,2020.0,3.0,2020-03-14,2,11.0,2020-03-09,3,2020,11,12,1,14
228,1.0,NaN,ACER50,3/15/2020,9466.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14
242,1.0,NaN,M-1260V,3/10/2020,9515.0,11.0,2020.0,3.0,2020-03-10,2,11.0,2020-03-09,3,2020,11,12,1,14
250,1.0,NaN,DTC400LXL,3/15/2020,9438.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14

In [26]:
df

,Qty,RRS,Model,Agreed Date,S.Ord.,Agreed Week,year,month,dob,Quarter,Week Number,Current Date,Current Month,Current Year,Current Week Number,Next Week Number,Current Quarter,Pending Orders
6,1.0,B,GEMINI-XL,3/10/2020,9474.0,11.0,2020.0,3.0,2020-03-10,2,11.0,2020-03-09,3,2020,11,12,1,14
24,1.0,A,MCV400,3/15/2020,9437.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14
29,1.0,A,MCV-400F,3/14/2020,9455.0,11.0,2020.0,3.0,2020-03-14,2,11.0,2020-03-09,3,2020,11,12,1,14
36,1.0,A,MCV400F,3/15/2020,9531.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14
38,1.0,A,SUPER-WINNER,3/15/2019,7962.0,11.0,2019.0,3.0,2019-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14
77,1.0,NaN,MCV450,3/12/2020,9097.0,11.0,2020.0,3.0,2020-03-12,2,11.0,2020-03-09,3,2020,11,12,1,14
128,1.0,NaN,M850V,3/14/2020,9470.0,11.0,2020.0,3.0,2020-03-14,2,11.0,2020-03-09,3,2020,11,12,1,14
188,1.0,NaN,ACER,3/15/2020,9511.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14
189,1.0,NaN,ACER,3/15/2020,9512.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14
206,1.0,NaN,M540V,3/15/2020,9478.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14
213,1.0,NaN,CMH-500-50,3/14/2020,9535.0,11.0,2020.0,3.0,2020-03-14,2,11.0,2020-03-09,3,2020,11,12,1,14
228,1.0,NaN,ACER50,3/15/2020,9466.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14
242,1.0,NaN,M-1260V,3/10/2020,9515.0,11.0,2020.0,3.0,2020-03-10,2,11.0,2020-03-09,3,2020,11,12,1,14
250,1.0,NaN,DTC400LXL,3/15/2020,9438.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14

In [27]:
df

,Qty,RRS,Model,Agreed Date,S.Ord.,Agreed Week,year,month,dob,Quarter,Week Number,Current Date,Current Month,Current Year,Current Week Number,Next Week Number,Current Quarter,Pending Orders
6,1.0,B,GEMINI-XL,3/10/2020,9474.0,11.0,2020.0,3.0,2020-03-10,2,11.0,2020-03-09,3,2020,11,12,1,14
24,1.0,A,MCV400,3/15/2020,9437.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14
29,1.0,A,MCV-400F,3/14/2020,9455.0,11.0,2020.0,3.0,2020-03-14,2,11.0,2020-03-09,3,2020,11,12,1,14
36,1.0,A,MCV400F,3/15/2020,9531.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14
38,1.0,A,SUPER-WINNER,3/15/2019,7962.0,11.0,2019.0,3.0,2019-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14
77,1.0,NaN,MCV450,3/12/2020,9097.0,11.0,2020.0,3.0,2020-03-12,2,11.0,2020-03-09,3,2020,11,12,1,14
128,1.0,NaN,M850V,3/14/2020,9470.0,11.0,2020.0,3.0,2020-03-14,2,11.0,2020-03-09,3,2020,11,12,1,14
188,1.0,NaN,ACER,3/15/2020,9511.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14
189,1.0,NaN,ACER,3/15/2020,9512.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14
206,1.0,NaN,M540V,3/15/2020,9478.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14
213,1.0,NaN,CMH-500-50,3/14/2020,9535.0,11.0,2020.0,3.0,2020-03-14,2,11.0,2020-03-09,3,2020,11,12,1,14
228,1.0,NaN,ACER50,3/15/2020,9466.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14
242,1.0,NaN,M-1260V,3/10/2020,9515.0,11.0,2020.0,3.0,2020-03-10,2,11.0,2020-03-09,3,2020,11,12,1,14
250,1.0,NaN,DTC400LXL,3/15/2020,9438.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14

In [28]:
result2 = (df['month'] == df['Current Month'])
df=df.loc[result2]
df['Pending Orders Current Month']=len(df['S.Ord.'])

In [29]:
df

,Qty,RRS,Model,Agreed Date,S.Ord.,Agreed Week,year,month,dob,Quarter,Week Number,Current Date,Current Month,Current Year,Current Week Number,Next Week Number,Current Quarter,Pending Orders,Pending Orders Current Month
6,1.0,B,GEMINI-XL,3/10/2020,9474.0,11.0,2020.0,3.0,2020-03-10,2,11.0,2020-03-09,3,2020,11,12,1,14,14
24,1.0,A,MCV400,3/15/2020,9437.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14,14
29,1.0,A,MCV-400F,3/14/2020,9455.0,11.0,2020.0,3.0,2020-03-14,2,11.0,2020-03-09,3,2020,11,12,1,14,14
36,1.0,A,MCV400F,3/15/2020,9531.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14,14
38,1.0,A,SUPER-WINNER,3/15/2019,7962.0,11.0,2019.0,3.0,2019-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14,14
77,1.0,NaN,MCV450,3/12/2020,9097.0,11.0,2020.0,3.0,2020-03-12,2,11.0,2020-03-09,3,2020,11,12,1,14,14
128,1.0,NaN,M850V,3/14/2020,9470.0,11.0,2020.0,3.0,2020-03-14,2,11.0,2020-03-09,3,2020,11,12,1,14,14
188,1.0,NaN,ACER,3/15/2020,9511.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14,14
189,1.0,NaN,ACER,3/15/2020,9512.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14,14
206,1.0,NaN,M540V,3/15/2020,9478.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14,14
213,1.0,NaN,CMH-500-50,3/14/2020,9535.0,11.0,2020.0,3.0,2020-03-14,2,11.0,2020-03-09,3,2020,11,12,1,14,14
228,1.0,NaN,ACER50,3/15/2020,9466.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14,14
242,1.0,NaN,M-1260V,3/10/2020,9515.0,11.0,2020.0,3.0,2020-03-10,2,11.0,2020-03-09,3,2020,11,12,1,14,14
250,1.0,NaN,DTC400LXL,3/15/2020,9438.0,11.0,2020.0,3.0,2020-03-15,2,11.0,2020-03-09,3,2020,11,12,1,14,14

In [30]:
result3 = ((df['Current Month'])+1 == np.int64(df['month']))
df=df.loc[result3]
df['Pending Orders Next Month']=len(df['S.Ord.'])

In [31]:
df

Empty DataFrame
Columns: [Qty, RRS, Model, Agreed Date, S.Ord., Agreed Week, year, month, dob, Quarter, Week Number, Current Date, Current Month, Current Year, Current Week Number, Next Week Number, Current Quarter, Pending Orders, Pending Orders Current Month, Pending Orders Next Month]
Index: []

In [32]:
result4 = ((df['Quarter']) == np.int64(df['Current Quarter'])+1)
df=df.loc[result4]
df['Pending Orders Next Quarter']=len(df['S.Ord.'])

In [33]:
df

Empty DataFrame
Columns: [Qty, RRS, Model, Agreed Date, S.Ord., Agreed Week, year, month, dob, Quarter, Week Number, Current Date, Current Month, Current Year, Current Week Number, Next Week Number, Current Quarter, Pending Orders, Pending Orders Current Month, Pending Orders Next Month, Pending Orders Next Quarter]
Index: []

[0 rows x 21 columns]

In [34]:
result5 = (df['Next Week Number'] == int64(df['Agreed Week']))
df=df.loc[result5]
df['Pending Orders Next Week']=len(df['S.Ord.'])

In [35]:
df

Empty DataFrame
Columns: [Qty, RRS, Model, Agreed Date, S.Ord., Agreed Week, year, month, dob, Quarter, Week Number, Current Date, Current Month, Current Year, Current Week Number, Next Week Number, Current Quarter, Pending Orders, Pending Orders Current Month, Pending Orders Next Month, Pending Orders Next Quarter, Pending Orders Next Week]
Index: []

[0 rows x 22 columns]